body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-width{
  width: 500px;
}

.accept-button{
  justify-content: right;
}

.investiments-content {
  display: flex;
  justify-content: space-around;
}

.accept-button {
  display: flex;
  justify-content: flex-end;
}

.quotes .value{
  display: flex;
  flex-direction: column;
  color: greenyellow; 
}